{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div id="navbar" class="background"></div>


    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
    <!-- <form action="/login" method="POST"> -->
      <!-- <fieldset> -->
        <!-- <legend>REGISTER</legend> -->
        <!-- {% csrf_token %} -->
         <!-- <label>First Name: -->
          <!-- <input type="text" name="first_name"> -->
        <!-- </label><br> -->
        <!-- <label>Last Name: -->
          <!-- <input type="text" name="last_name"> -->
        <!-- </label><br> -->
        <!-- <label>Email: -->
          <!-- <input type="email" name="email"> -->
        <!-- </label><br> -->
        <!-- <label>Password: -->
          <!-- <input type="password" name="password"> -->
        <!-- </label><br> -->
        <!-- <label>Confirm Password: -->
          <!-- <input type="password" name="passconf"> -->
        <!-- </label><br> -->
        <!-- <input type="submit" value="Register"> -->
      <!-- </fieldset> -->
    </form>

    <form action="/login" method="POST">
      <fieldset>
        <legend>Login to life</legend>
        {% csrf_token %}
        <label>Email:
          <input type="email" name="email">
        </label><br>
        <label>Password:
          <input type="password" name="password">
        </label><br>
        
        <input type="submit" value="Login">
      </fieldset>
    </form>

    <!-- <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation"> -->
    <!-- <div class="container-fluid"> -->
        <!-- <div class="navbar-header"><a class="navbar-brand" href="#">Views</a> -->
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> -->
            <!-- </button> -->
        <!-- </div> -->
        <!-- <div class="collapse navbar-collapse navbar-menubuilder"> -->
            <!-- <ul class="nav navbar-nav navbar-left"> -->
                <!-- <li><a href="/">Home</a> -->
                <!-- </li> -->
                <!-- <li><a href="/products">Friends</a> -->
                <!-- </li> -->
                <!-- <li><a href="/about-us">Acount</a> -->
                <!-- </li> -->
                <!-- <li><a href="/contact">Messages</a> -->
                <!-- </li> -->
            <!-- </ul> -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->
  </body>
</html>
